.App {
  text-align: center;
}

.cookieBanner {
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;

  left: 50%;
  transform: translateX(-50%);

  border-radius: 10px;
  background-color: #333;
  color: white;
  padding: 2%;
  text-align: center;
}

@media (max-width: 768px) {
  .cookieBanner {
    width: 80%;
    padding: 4%;
  }
}

.btn-success {
  background-color: #16a816 !important;
}
